<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitlock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.plan.OngoingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.plan.CreateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Connect4Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Connect3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Connect2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.Connect1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.LockDetail"
            android:label="Lock details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>